<!DOCTYPE html>
<html>
{{template "header"}}
<script>
// window.onbeforeunload = function(){   
//     return 'Are you sure you want to leave?';
// };
</script>

<body onload="setMenu(2)" onbeforeunload="return leavePage()">
    {{template "navbar"}}
    <div class="ui segment">
        <div class="content-title">
            <h3>Add Page</h3>
        </div>
        <div class="ui celled grid">
            <div class="twelve wide column">
                <a class="ui blue ribbon label">Page</a>
                <form class="ui form" method="post" action="/newContent">
                    <textarea id="content-area" name="content" required>Ulbora CMS V3, a new Cloud CMS!</textarea>
                    <br>
                    <div data-tooltip="Only used for identification" class="field">
                        <label>Title</label>
                        <input name="title" type="text" placeholder="Title" required>
                    </div>
                    <br>
                    <div class="field">
                        <label>Author</label>
                        <input name="author" type="text" placeholder="Author">
                    </div>
                    <br>
                    <div data-tooltip="Name used to reference this page in URL (http://someurl/pageName)" class="field">
                        <label>Page Name</label>
                        <input name="category" type="text" placeholder="MyPage" required>
                    </div>
                    <br>
                    <div class="field">
                        <label>Sort Order</label>
                        <input name="sortOrder" type="number" placeholder="Sort Order">
                    </div>
                    <br>
                    <div class="field">
                        <label>Key Words</label>
                        <input name="metaKeyWords" type="text" placeholder="Meta Key Words. Example: books, music">
                    </div>
                    <br>
                    <div class="field">
                        <label>Description</label>
                        <textarea name="desc" rows="3" placeholder="Meta Description"></textarea>
                    </div>
                    <br>
                    <button onclick="savePage();" class="ui button" type="submit">Submit</button>
                    <br>
                </form>

            </div>
            <div class="four wide column">
                <a class="ui blue ribbon label">Images</a>
                <div class="image-wrapper">
                    {{range .}}
                    <div class="image-card">
                        <div class="ui card">
                            <div class="header">
                                {{.Name}}
                            </div>
                            <div class="content">
                                <div class="image-view">
                                    <img id="img1" src="{{.ImageURL}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>

            </div>
        </div>
    </div>
    <br>
</body>
{{template "footer"}}

</html>