<!DOCTYPE html>
<html>
{{template "header"}}

<body onload="setMenu(3)">
    {{template "navbar"}}
    <div class="ui container content-list">
        <div class="content-title">
            <h3>Images</h3>
        </div>
        <div class="page-button">
            <a class="ui primary button" href="/addImage" role="button">Add image</a>
        </div>
        <div class="ui segment">
            <div class="card border-primary mb-3" style="max-width: 100rem;">
                <a class="ui blue ribbon label">Images</a>
                <div class="card-body text-dark">
                    <div class="image-wrapper">
                        {{range .}}
                        <div class="image-card">
                            <div class="ui segment">
                                <div class="content-delete-link">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="negative ui button" onclick="setImageId({{.ID}}); showModel();">
                                        Delete this image
                                    </button>
                                </div>
                                <div class="ui segment">
                                    Name: {{.Name}}
                                </div>
                                <div class="ui segment">
                                    Link: {{.ImageURL}}
                                </div>
                                <div class="ui segment">
                                    <div class="image-list-view">
                                        <img id="img1" src="{{.ImageURL}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="ui modal" id="deleteModal">
        <div class="header">
            Delete Image
        </div>
        <div class="content">
            <div class="description">
                Delete this image
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui button" onclick="location.href='/deleteImage?id=' + getImageId();">OK</div>            
        </div>
    </div>
</body>
{{template "footer"}}

</html>