<!DOCTYPE html>
<html>
{{template "header"}}

<body onload="setMenu(1)">
    {{template "navbar"}}
    <div class="ui container content-list">
        <div class="content-title">
            <h3>Page List</h3>
        </div>
        <div class="page-button">
            <a onclick="setMenu(2)" class="ui primary button" href="/addContent" role="button">Add Page</a>
        </div>
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Page</th>
                    <th>Sort Order</th>
                    <th>Archived</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Hits</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr onclick="window.location.href='/getContent/{{.ID}}'">
                    <td>
                        <a href="/getContent/{{.ID}}">{{.Title}} </a>
                    </td>
                    <td>{{.Category}}</td>
                    <td>{{.SortOrder}}</td>
                    <td>{{.Archived}}</td>
                    <td>{{.CreateDate.Format "Jan 2, 2006"}}</td>
                    {{if .UseModifiedDate}}
                    <td>{{.ModifiedDate.Format "Jan 2, 2006"}}</td>
                    {{else}}
                    <td>---</td>
                    {{end}}
                    <td>{{.Hits}}</td>
                </tr>

                {{end}}
            </tbody>
        </table>
    </div>
</body>
{{template "footer"}}

</html>