<!DOCTYPE html>
<html>
{{template "header"}}

<body onbeforeunload="return leavePage()">
    {{template "navbar"}}
    <div class="ui segment">
        <div class="content-title">
            <h3>Update Page</h3>
        </div>
        <div class="content-delete-link">
            <!-- Button trigger modal -->
            <button type="button" class="negative ui button" onclick="showModel()">
                Delete this content
            </button>
        </div>
        <div class="ui celled grid">
            <div class="twelve wide column">
                <a class="ui blue ribbon label">Page</a>
                <form class="ui form" method="post" action="/updateContent">
                    <input name="id" type="hidden" value="{{.Cont.ID}}">
                    <textarea id="content-area" name="content" required>{{.Cont.Text}}</textarea>
                    <br>
                    <div data-tooltip="Only used for identification" class="field">
                        <label>Title</label>
                        <input name="title" type="text" placeholder="Title" value="{{.Cont.Title}}" required>
                    </div>
                    <br>
                    <div class="field">
                        <label>Author</label>
                        <input name="author" type="text" placeholder="Author" value="{{.Cont.MetaAuthorName}}">
                    </div>
                    <br>
                    <div data-tooltip="Name used to reference this page in URL (http://someurl/pageName)" class="field">
                        <label>Page Name</label>
                        <input name="category" type="text" placeholder="MyPage" value="{{.Cont.Category}}" required>
                    </div>
                    <br>
                    <div class="field">
                        <label>Sort Order</label>
                        <input name="sortOrder" type="number" placeholder="Sort Order" value="{{.Cont.SortOrder}}">
                    </div>
                    <br>
                    <div class="field">
                        <label>Key Words</label>
                        <input name="metaKeyWords" type="text" placeholder="Meta Key Words. Example: books, music" value="{{.Cont.MetaKeyWords}}">
                    </div>
                    <br>
                    <div class="field">
                        <label>Description</label>
                        <textarea name="desc" rows="3" placeholder="Meta Description">{{.Cont.MetaDesc}}</textarea>
                    </div>
                    <br>
                    <div class="field">
                        <label>Archived</label>
                        <input name="archived" type="checkbox" {{if .Cont.Archived}} checked {{end}}>
                    </div>                    
                    <br>
                    <button onclick="savePage();" class="ui button" type="submit">Submit</button>
                    <br>
                </form>

            </div>
            <div class="four wide column">
                <a class="ui blue ribbon label">Images</a>
                <div class="image-wrapper">
                    {{range .Img}}
                    <div class="image-card">
                        <div class="ui card">
                            <div class="header">
                                Name: {{.Name}}
                            </div>
                            <div class="header">
                                Link: {{.ImageURL}}
                            </div>
                            <div class="content">
                                <div class="image-view">
                                    <img id="img1" src="{{.ImageURL}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>

            </div>
        </div>
    </div>
    <br>

    <!-- Modal -->
    <div class="ui modal" id="deleteModal">
        <div class="header">
            Delete Page
        </div>
        <div class="content">
            <div class="description">
                Delete this content
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div class="ui button" onclick="savePage(); location.href='/deleteContent?id={{.Cont.ID}}';">OK</div>
        </div>
    </div>
</body>
{{template "footer"}}

</html>